/**
 * Container                                      
 **/
.container {
  max-width: $max-width;
  margin: 3rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.wrapper {
  max-width: 700px;
  margin: auto;
  border: 3px solid $primary-color;
  border-radius: $radius;
  padding: 1.5rem;
}

.img--round {
  border-radius: 50%;
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 1.5rem 0;
}

/**
 * Text styles                                           
 **/
.text--x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text--lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text--large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text--center {
  text-align: center;
}

.text--white {
  color: #fff;
}

.text--primary {
  color: $primary-color;
}

/**
 * Buttons styles                                           
 **/
%btn {
  display: inline-block;
  @include set-background($light-color);
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in;
}

.btn--primary {
  @extend %btn;
  @include set-background($primary-color);
  &:hover {
    background: lighten($primary-color, 10%);
  }
}

.btn--light {
  @extend %btn;
  @include set-background($light-color);
  &:hover {
    background-color: lighten($dark-color, $amount: 30%);
    color: #fff;
  }
}

.btn--dark {
  @extend %btn;
  @include set-background($dark-color);
  &:hover {
    background: lighten($dark-color, 10%);
  }
}

.btn--success {
  @extend %btn;
  @include set-background($success-color);
  &:hover {
    background: lighten($success-color, 10%);
  }
}

.btn--danger {
  @extend %btn;
  @include set-background($danger-color);
  &:hover {
    background: lighten($danger-color, 10%);
  }
}

/**
 * Alerts Styles                                         
 **/
%alert {
  padding: 0.3rem;
  margin: 1rem;
  text-align: center;
  border-radius: $radius;
}

.alert--primary {
  @extend %alert;
  @include set-background($primary-color);
}

.alert--dark {
  @extend %alert;
  @include set-background($dark-color);
}

.alert--success {
  @extend %alert;
  @include set-background($success-color);
}

.alert--danger {
  @extend %alert;
  color: #7a1f28;
  background-color: #f88992;
}

/**
 * Background Styles                                         
 **/
.bg {
  &--primary {
    @include set-background($primary-color);
  }

  &--light {
    @include set-background($light-color);
    border: $primary-color 1px solid;
  }

  &--dark {
    @include set-background($dark-color);
  }

  &--success {
    @include set-background($success-color);
  }

  &--danger {
    @include set-background($danger-color);
  }

  &--white {
    @include set-background(#fff);
    border: $primary-color 1px solid;
  }
}

/**
 * Badges Styles                                         
 **/
%badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
}

.badge--primary {
  @extend %badge;
  border-radius: $radius;
  @include set-background($primary-color);
}

.badge--dark {
  @extend %badge;
  border-radius: $radius;
  @include set-background($dark-color);
}

.badge--light {
  @extend %badge;
  border-radius: $radius;
  @include set-background($light-color);
}

.badge--success {
  @extend %badge;
  border-radius: $radius;
  @include set-background($success-color);
}

.badge--danger {
  @extend %badge;
  border-radius: $radius;
  @include set-background($danger-color);
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

/**
 * Table Styles                                    
 **/
.table {
  &__head {
    font-weight: bold;
    :first-child {
      border-radius: $radius 0 0 0;
    }
    :last-child {
      border-radius: 0 $radius 0 0;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 1rem !important;
    background-color: $primary-color;
  }

  &__heading,
  &__data {
    padding: 0.5rem 1rem;
    text-align: left;
    border-bottom: 1px dashed #ccc;
    font-size: 0.8rem;
  }
}
